.chat-container {
    position: fixed;
    z-index: 9999;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .chat-segment {
    width: 100%;
    max-width: 400px;
  }
  
  @media (max-width: 768px) {
    .chat-segment {
      max-width: 100%;
    }
  }
  